MobileManager/MobileManager/BusinessLogicLayer/Web References/ItemIocalhost/ItemService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ItemService.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ItemService.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ItemService.org/">
      <s:element name="GetListItem">
        <s:complexType />
      </s:element>
      <s:element name="GetListItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListItemResult" type="tns:ArrayOfItemDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfItemDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ItemDTO" nillable="true" type="tns:ItemDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ItemDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ram" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Camera" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cpu" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Image" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pItemDTO" type="tns:ItemDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddItemResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExisItemName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pItemName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pItemID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExisItemNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExisItemNameResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pItemDTO" type="tns:ItemDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EditItemResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetListItemSoapIn">
    <wsdl:part name="parameters" element="tns:GetListItem" />
  </wsdl:message>
  <wsdl:message name="GetListItemSoapOut">
    <wsdl:part name="parameters" element="tns:GetListItemResponse" />
  </wsdl:message>
  <wsdl:message name="AddItemSoapIn">
    <wsdl:part name="parameters" element="tns:AddItem" />
  </wsdl:message>
  <wsdl:message name="AddItemSoapOut">
    <wsdl:part name="parameters" element="tns:AddItemResponse" />
  </wsdl:message>
  <wsdl:message name="ExisItemNameSoapIn">
    <wsdl:part name="parameters" element="tns:ExisItemName" />
  </wsdl:message>
  <wsdl:message name="ExisItemNameSoapOut">
    <wsdl:part name="parameters" element="tns:ExisItemNameResponse" />
  </wsdl:message>
  <wsdl:message name="EditItemSoapIn">
    <wsdl:part name="parameters" element="tns:EditItem" />
  </wsdl:message>
  <wsdl:message name="EditItemSoapOut">
    <wsdl:part name="parameters" element="tns:EditItemResponse" />
  </wsdl:message>
  <wsdl:portType name="ItemServiceSoap">
    <wsdl:operation name="GetListItem">
      <wsdl:input message="tns:GetListItemSoapIn" />
      <wsdl:output message="tns:GetListItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddItem">
      <wsdl:input message="tns:AddItemSoapIn" />
      <wsdl:output message="tns:AddItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExisItemName">
      <wsdl:input message="tns:ExisItemNameSoapIn" />
      <wsdl:output message="tns:ExisItemNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditItem">
      <wsdl:input message="tns:EditItemSoapIn" />
      <wsdl:output message="tns:EditItemSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ItemServiceSoap" type="tns:ItemServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListItem">
      <soap:operation soapAction="http://ItemService.org/GetListItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddItem">
      <soap:operation soapAction="http://ItemService.org/AddItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisItemName">
      <soap:operation soapAction="http://ItemService.org/ExisItemName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditItem">
      <soap:operation soapAction="http://ItemService.org/EditItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ItemServiceSoap12" type="tns:ItemServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListItem">
      <soap12:operation soapAction="http://ItemService.org/GetListItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddItem">
      <soap12:operation soapAction="http://ItemService.org/AddItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisItemName">
      <soap12:operation soapAction="http://ItemService.org/ExisItemName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditItem">
      <soap12:operation soapAction="http://ItemService.org/EditItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ItemService">
    <wsdl:port name="ItemServiceSoap" binding="tns:ItemServiceSoap">
      <soap:address location="http://localhost:3650/Service/ItemService.asmx" />
    </wsdl:port>
    <wsdl:port name="ItemServiceSoap12" binding="tns:ItemServiceSoap12">
      <soap12:address location="http://localhost:3650/Service/ItemService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>